<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="stockimport" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="100" translate="label">
            <label>Stock Import</label>
            <tab>catalog</tab>
            <resource>Spolnicki_StocksImport::config_spolnicki_stocksimport</resource>
            <group id="cron" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
                <label>Cron settings</label>
                <field id="enabled" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="time_expr" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label" type="text">
                    <label>Time</label>
                    <comment>Cron job expression format (default: */5 * * * * )</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="sftp" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label">
                <label>Sftp configuration</label>
                <field id="host" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="text">
                    <label>Host</label>
                </field>
                <field id="username" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label" type="text">
                    <label>Username</label>
                </field>
                <field id="password" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="30" translate="label" type="obscure">
                    <label>Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="timeout" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="40" translate="label" type="text">
                    <label>Timeout</label>
                    <comment>Connection timeout (default: 10 seconds)</comment>
                    <validate>validate-not-negative-number</validate>
                </field>
                <field id="path" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="50" translate="label" type="text">
                    <label>Path to file </label>
                    <comment>Path with file name on sftp server</comment>
                </field>
            </group>
        </section>
    </system>
</config>
